*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.home{
    
    height: 100vh; 
    display: flex;
    flex-direction: column;
}
.navHome{
    height: 10%;
    display: flex;
    
}
.nav-frontHome{
    background: gray;
    width: 20%;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
   
    
   
}
.nav-frontHome h2{
    font-size: 30px;
    text-align: center;
}
.nav-frontHome h2 span{
    color: blue;
}
.nav-endHome{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: green;
   
}
.nav-endHome ul{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    
    }
  .nav-endHome ul li{
   margin-top: 10px;
    display: block;
   
}  
.LinkLine{
    text-decoration: none;
    color: white;
    font-size: large;
}
.LinkLine:hover{
    color: blue; 
}
.mainHome{
    display: flex;
    flex-direction: row;
    height: 70%;
   
    
}
.m-left{
    width: 20%;
    /* border: 1px solid black; */
   
    display: flex;
    flex-direction: column;
}
.m-left-up{
    
    height: 40%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.m-left-down{
    height: auto;
  
   
    display: flex;
    flex-direction: column;
}
.m-left-down button{
  
    margin: 10px 0;
    background: green;
    border: none;
    outline: none;
}
.m-right {
    display: flex;
    flex-direction: column;
    width: 80%;
   
    align-items: center;
    justify-content: center;
}
.m-right button{
    width: 200px;
    border-radius: 20px;
    font-weight: bold;
    background-color: green;

}


.bottom{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.item-1{
    width: 30%;
    border: 1px solid black;
    
}
.item-2{
    width: 30%;
    border: 1px solid black;
    
}
.item-3{
    width: 30%;
    border: 1px solid black;
   
}
