* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home {
  height: auto;
  display: flex;
  flex-direction: column;
}
.mainHome {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.m-left {
  width: 20%;
  /* border: 1px solid black; */

  display: flex;
  flex-direction: column;
}
.m-left-up {
  height: 40%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-left-down {
  height: auto;

  display: flex;
  flex-direction: column;
}
.m-left-down button {
  margin: 10px 0;
  background: green;
  border: none;
  outline: none;
}
.m-right {
  display: flex;
  flex-direction: column;
  width: 80%;

  align-items: center;
  justify-content: center;
}
.m-right button {
  width: 200px;
  border-radius: 20px;
  font-weight: bold;
  background-color: green;
}

.bottom {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item-1 {
  width: 30%;
  border: 1px solid black;
}
.item-2 {
  width: 30%;
  border: 1px solid black;
}
.item-3 {
  width: 30%;
  border: 1px solid black;
}
